@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* SMOOTH GORGETES */
html {
    scroll-behavior: smooth;
}

/* LINK */
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background-color: #2b0a0a; 
    color: white; 
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
    background-color: #8c070791; 
    margin-bottom: 80px;
}
.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo-link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.logo span {
    color: #c92c2c; 
    text-shadow: 0 0 10px #c92c2c;
    font-size: 1.4rem;
}

.logo .portfolio-szoveg {
    font-size: 1.4rem;
    color: white;
    font-weight:bold;
}

.alahuzas {
    --c:linear-gradient(#000000 0 0); 
    padding-bottom: .07em;
    background: var(--c), var(--c);
    background-size: .3em .2em;
    background-position:50% 100%;
    background-repeat: no-repeat;
    transition: .15s linear, background-size .2s .15s linear;
}

.alahuzas span {
    font-size: 30px; 
    font-weight: bold; 
}

.alahuzas:hover{
    background-size: 40% .25em; 
    background-position: 10% 100%, 90% 100%;
}
.cancel {
    cursor: pointer;
    position: absolute;
    right: 2.5vh;
    top: 2.5vh; 
    color: white;
    display: block;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.hamburger-menu {
    display: none;
}

.nav-container .links {
    display: flex;
    justify-content: space-evenly;
}
.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}
.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #c92c2c; 
    transition: 0.2s linear;
}
.nav-container .links a:hover::before {
    width: 100%;
}
.nav-container .links a:hover {
    color: #c92c2c; 
}
.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(80%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;    
}
.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}
.dropdown .links a:hover {
    background-color: #c92c2c; 
}

section {
    width: 100%;
    height: auto;
}
.main-container {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 24vh;
    margin-top: 13vh;
}
.main-container .image {
    width: 350px;
    height: 550px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #c92c2c; /* Lighter red */
    transition: transform 0.2s ease-in-out;
}

.main-container .image img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease-in-out;    
}

.main-container .image:hover {
    transform: scale(1.1);  
}

.main-container .content {
    color: white;
    width: 40%;
    min-height: 100px;
}

.main-container {
    animation: appear2 2.5s;
}

@keyframes appear2 {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}
.content h1 span {
    color: #c92c2c; 
    text-shadow: 0 0 10px #c92c2c;
}
.content .typewriter {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.content .typewriter-text {
    color: #c92c2c; 
    text-shadow: 0 0 10px #c92c2c;
}
.content p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
}

.gomb{
    color:#ffffff;
}

.gomb:hover{
    transition: 0.1s ease-out ;
}

.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content1 button {
    width: 50vw;
    height:250px;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    background-color: #c92c2c; /* Lighter red */
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
    animation: appear1 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes appear1 {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.content1 button:hover {
    scale: 1.1;
    color: #ffffff; /* Lighter red */
    border: 2px solid #c92c2c; /* Lighter red */
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #c92c2c; /* Lighter red */
}

.btn {
    display: flex;
    justify-content: center;
    width: 95%;
}
.additional-content {
    padding: 20px;
    margin: 10vh auto;
    background-color: rgba(255, 255, 255, 0.1); /* Light transparent background for visibility */
    border-radius: 5px;
    width: 95%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.html-logo {
    position: absolute;
    width: 70px;
    right: 80px;
    transition: transform 1000ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.html-logo:hover {
    transform: scale(1.15);
}

.css-logo {
    position: absolute;
    width: 70px;
    right: 15px;
    transition: transform 1000ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.css-logo:hover {
    transform: scale(1.15);
}

.additional-content h2 {
    color: #c92c2c; /* Lighter red */
}
.additional-content p {
    color: white; /* Ensure text is readable */
}

.gyvakk {
    color: white;
    font-weight: 800;
}

.youtube {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5vh;
    margin: 10vh auto;
    border-radius: 5px;
    width: 95%;
    gap: 5vh;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 10%;
}

.yt-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes appear3 {
    from{
        scale: 0.5;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

.yt-logo {
    width: 80px;
    position: sticky;
    transition: transform 1000ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.yt-logo:hover{
    transform: scale(1.15); 
    background: transparent;
    box-shadow: 0 0 60px rgb(255, 0, 0);
    border-radius: 16px;
}

.cisco {
    padding: 20px;
    margin: 10vh auto;
    background-color: rgba(255, 255, 255, 0.1); /* Light transparent background for visibility */
    border-radius: 10px;
    width: 95%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}

.cisco img {
    display: flex   ;
    align-content: center;
    width: 250px;
    display: inline-flex;
    padding: 20%;
    --color: #55a217; /* Szegely szine */
    --border: 10px;   /* Szegely vastagsaga*/
    --offset: 20px;   /* Offset iranyitas*/
    --gap: 5px;       /* A gap hover-en */
    --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
    --_o: calc(3*var(--offset));
    padding: 
      calc(var(--gap) + var(--border))
      calc(var(--gap) + var(--border) + var(--offset))
      calc(var(--gap) + var(--border) + var(--offset))
      calc(var(--gap) + var(--border));
    background: 
      linear-gradient(      var(--_c)) var(--_o) var(--_o), 
      linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
    background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
    background-repeat: no-repeat;
    filter:grayscale(.5);
    transition: .5s;
    cursor: pointer;
}

.cisco img:hover{
    background-position: 0px 0px;
    background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
    filter: grayscale(0);
}

.cisco_szoveg{
    font-size: 2rem;
    background-image: url(svg/firka.svg);
    background-repeat: no-repeat;
    margin-top: 6px;
    padding-bottom: 1.2vw;
    padding-left: 2vw;
    background-size: contain;
}

.gallery{
    height: 60vmin;
    display: flex;
    column-gap:25px;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.pagisz {
    padding: 5vh;
    margin: 10vh auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 95%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}

.pagisz-szoveg {
    align-items: center;
    text-align: center; 
    font-size: 1.5rem;
    background-image: url(svg/alahuzas.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 1.6vw;
    background-size: contain;    
}

.pagisz-ikon {
    width: 90px; 
    position: absolute;
    transition: transform 1000ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.pagisz-ikon:hover {
    transform: scale(1.15);
    box-shadow: 0 0 60px rgb(0, 0, 255);
    border-radius: 100px;
    background: transparent;
}


figure {
    text-align: center; 
    margin: 0;
    padding: 5px;
    width: 18%;
}

.gallery img{
    width: 100%;
    height: auto;
    object-fit:cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.35s;
    display: flex;
    align-content: space-evenly;
    transform-origin: 10% 100%; 
    transition: transform 500ms ease;   
}

.gallery-img:hover{
    transform: rotate(-8deg) scale(1.15);
} 

figcaption {
    margin-top: 22px;
    font-size: 1rem; 
    color: #aaa9a9; 
    text-align: center;
    margin-bottom: 20vh;
    padding-bottom: 20vh;
}

.video {
    max-width: 100%;
    height: auto;
}

.robot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8vw;
    padding: 5vh;
    margin: 4vh auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 95%;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}
.robot-logok{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.robot-logok img {
    width: 200px;
    transition: transform 1000ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}


.robot-logok img:hover {
    transform: scale(1.15);
}

.robot_overlay {
    background: #c9e705;
    border-radius: 3vh;
    overflow: hidden;
}

.projekt_leiras {
    padding: 20px;
}
 
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 5vh;
}

/* Scroll-Up Gomb Stilus */
#scrollUpBtn {
    display: none; /* Initially hide the button */
    position: fixed; /* Ensure it stays in the same place */
    bottom: 20px; /* Positioning from the bottom */
    right: 10px; /* Positioning from the right */
    width: 60px; /* Button width */
    height: 60px; /* Button height */
    background-color: #c92c2c; /* Button background color */
    color: white; /* Icon color */
    border: none; /* No border */
    border-radius: 50%; /* Circular button */
    display: flex; /* Center the icon */
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    font-size: 1.5rem; /* Icon size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    cursor: pointer; /* Change cursor on hover */
    z-index: 100; /* Ensure it stays on top */
    transition: opacity 0.3s ease, transform 0.3s ease;
    animation: appear2 1s;
}

#scrollButton.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
  
#scrollButton.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
  }

/* Scroll gomb hover effekt */
#scrollUpBtn:hover {
    background-color: #a62b2b; 
}
/* MODAL */

/* Style the Image Used to Trigger the Modal */
#myImage {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    transform: scale(1);
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: flex;
    max-height: 550px;
    max-width: 450px;
    justify-content: center;
    align-content: center;

  }
  

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin-top: 5vh;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 2.5vh;
    color: #ffffff;
    padding-top: 1vh;
    background-color: #3f3f3f;
    border-radius: 2vh;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */ 
   .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

.munkanaplok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    margin-top: 2vw;
    min-width: 70%;
    gap: 30px;
    background: rgb(124,171,113);
    background: linear-gradient(180deg, rgba(124,171,113,1) 0%, rgba(6,200,169,1) 50%, rgba(0,255,124,1) 100%);
    border-radius: 5px;
    padding: 30px;
}

.munkanaplok h1 {
    font-size: 50px;
}
 
/* -- RESPONSIVITY -- */

@media (max-width:400px){
    .logo span{
        font-size: 80%;
    }
}

@media (max-width:464px){
    .typewriter_szoveg{
        font-size: 70%;
    }
}

@media only screen and (max-width: 884px) {
    .hamburger-menu {
        display: block;
        position: sticky;
        left: 90%;
        font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
    }
}

@media (max-width: 884px) {

    nav .logo {
        position: absolute;
        left: 15px;
        font-size: 1.5rem;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .nav-container .links {
        display: none;
    }
    .hamburg,
    .cancel {
        display: none;
    }
    .main-container .content {
        width: 80%;
    }
    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .main-container .image {
        z-index: -1;
        width: 50%;
        height: 60%;
    }
}

@media (min-width: 1000px) and (max-width:2000px) {
    .cisco img {
        margin-left: 20vh;
    }
}

@media (min-width: 1026px) and (max-width:1169px) {
    .cisco_kepek{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .cisco img {
        height: 30%;
        width: 30%;
    }
}


@media (min-width:885px) and (max-width:1025px){

    .cisco img {
        height: 30%;
        width: 30%;
    }
}

@media (min-width:585px) and (max-width:824px){

    .cisco img {
        height: 30%;
        width: 30%;
    }
}

@media (min-width:401px) and (max-width:823px){

    .cisco img {
        margin-left: 10vh;
        height: 60%;
        width: 60%;
    }
    .pagisz-szoveg{
        margin-top: 12vh;
        font-size: 1.1rem;
    }
    .additional-content img {
        position: relative;
        left: 1vw;
    }
}

@media (min-width:399px) and (max-width:470px){
    .gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content: space-around; 
        align-items: center;
        gap: 3vh;
    }

    .gallery img {
        height: auto;
        width: 100%;
    }

    figcaption {
        font-size: 1.3vh;
    }
    .additional-content img {
        position: relative;
        left: 1vw;
    }
    .cisco_szoveg{
        font-size: 1.3rem;
    }
    .pagisz-szoveg{
        font-size: 1.3rem;
    }
    .pagisz-ikon{
        width: 80px;
    }
    .pagisz-szoveg{
        margin-top: 10vh;
    }
}

@media (min-width:300px) and (max-width:399px){
    .cisco img {
        margin-left: 4.5vh;
    }
    
    .gallery img {
        gap: 1vh;
        height: 70%;
        width: 60%;
    }

    figcaption {
        font-size: 1.5vh;
    }
    .additional-content img {
        position: relative;
        left: 1vw;
    }
    .cisco_szoveg{
        font-size: 1rem;
    }
    .pagisz-szoveg{
        font-size: 1rem;
    }
    .pagisz-ikon{
        width: 70px;
    }
    .pagisz-szoveg{
        margin-top: 10vh;
    }

}


